[submodule "stm32/rv/test/host/unity"]
	path = stm32/rv/external/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "stm32/rv/external/libopencm3"]
	path = stm32/rv/external/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "stm32/rv/external/catch2"]
	path = stm32/rv/external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "esp32/netmcu/external/components-misc"]
	path = esp32/netmcu/external/components-misc
	url = https://github.com/zwiebert/components-misc.git
