{
    "APP_CFG_NAMESPACE": "Tronferno",
    "APP_FA_MAX_VALVE_GROUPS": 16,
    "APP_FA_MAX_WEATHER_ADAPTERS": 16,
    "APP_FA_NAMES_MAX_LEN": 32,
    "APP_GEO_TZ": "CET-1CEST-2,M3.5.0,M10.5.0",
    "APP_GPIO_NUMBER_OF_GPIOS": 40,
    "APP_HTTP_ENABLE": 0,
    "APP_HTTP_PASSWORD": "",
    "APP_HTTP_USER": "",
    "APP_MQTT_CLIENT_ID": "Regner",
    "APP_MQTT_ENABLE": 0,
    "APP_MQTT_PASSWORD": "",
    "APP_MQTT_ROOT_TOPIC": "rv",
    "APP_MQTT_URL": "",
    "APP_MQTT_USER": "",
    "APP_NTP_SERVER": "gateway",
    "APP_NUMBER_OF_VALVES": 14,
    "APP_OTA_USE_CERT_BUNDLE": true,
    "APP_PING_THE_GATEWAY": false,
    "APP_SETTINGS_PASSWORD": "",
    "APP_TCPS_CONNECTIONS_MAX": -1,
    "APP_TCPS_ENABLE": 1,
    "APP_TCPS_PORT": 7777,
    "APP_TCPS_PORT_IA": 0,
    "APP_UART_BAUD_RATE": 115200,
    "APP_USE_AP_FALLBACK": true,
    "APP_USE_CLI_MUTEX": true,
    "APP_USE_CLI_TASK": true,
    "APP_USE_EG": true,
    "APP_USE_ESP_GET_TIME": true,
    "APP_USE_FREERTOS": true,
    "APP_USE_FS": true,
    "APP_USE_GPIO_PINS": true,
    "APP_USE_HTTP": true,
    "APP_USE_HTTP_CLIENT": true,
    "APP_USE_HTTP_SERVE_CSS_MAP": false,
    "APP_USE_HTTP_SERVE_JS_MAP": true,
    "APP_USE_LAN": true,
    "APP_USE_LPH": true,
    "APP_USE_MQTT": true,
    "APP_USE_MUTEX": false,
    "APP_USE_NETWORK": true,
    "APP_USE_NTP": true,
    "APP_USE_OTA": true,
    "APP_USE_POSIX_TIME": true,
    "APP_USE_PROTOBUF": true,
    "APP_USE_SERIAL": true,
    "APP_USE_STM32COM": true,
    "APP_USE_STM32OTA": true,
    "APP_USE_TCPS": false,
    "APP_USE_TCPS_TASK": true,
    "APP_USE_WDG": true,
    "APP_USE_WEATHER_AUTO": false,
    "APP_USE_WLAN": true,
    "APP_USE_WLAN_AP": true,
    "APP_USE_WS": true,
    "APP_WIFI_AP_PASSWORD": "12345678",
    "APP_WIFI_AP_SSID": "rv",
    "APP_WIFI_PASSWORD": "",
    "APP_WIFI_SSID": "",
    "CLI_CMDLINE_ALLOW_LF": false,
    "CLI_DEBUG": false,
    "CLI_INTERACTIVE_CONSOLE": true,
    "CLI_JSON_ROOT_OBJECT": true,
    "CONFIG_KVS_HAVE_COMPONENT": true,
    "MAIN_LOOP_PERIOD_MS": 100,
    "NETWORK_CHECK_LOOP_PERIOD_S": 15,
    "NET_HAVE_COMPONENT": true,
    "NET_HTTP_CLIENT_DEBUG": false,
    "NET_HTTP_SERVER_DEBUG": false,
    "NET_HTTP_SERVER_HAVE_COMPONENT": true,
    "NET_MQTT_CLIENT_DEBUG": true,
    "NET_MQTT_CLIENT_HAVE_COMPONENT": true,
    "NET_NETWORK_DEBUG": false,
    "NET_NTP_CLIENT_DEBUG": false,
    "NET_TCP_CLI_CLIENT_DEBUG": false,
    "REQUIRE_ROOT_OBJECT": true,
    "RV_ENABLE_WATCHDOG": true,
    "RV_NETMCU_DEBUG": false,
    "STM32_BOOT_PIN": 32,
    "STM32_DEBUG": false,
    "STM32_ENABLE_RESET": true,
    "STM32_HAVE_COMPONENT": true,
    "STM32_MAKE_API_THREAD_SAFE": true,
    "STM32_MAKE_COMPONENT_THREAD_SAFE": true,
    "STM32_RESET_PIN": 33,
    "STM32_UART_PARITY_DEFAULT": 0,
    "STM32_UART_RX_PIN": 36,
    "STM32_UART_TX_PIN": 4,
    "TXTIO_HAVE_COMPONENT": true,
    "UOUT_DEBUG": false,
    "UOUT_HAVE_COMPONENT": true,
    "UOUT_PUBLISH_IP_ADDR_AS_TXT": true,
    "UOUT_PUBLISH_LOG_AS_TXT": false,
    "UTILS_MISC_MUTEX_DEBUG": false,
    "WEATHER_OWM_URL_STRING": "http://api.openweathermap.org/data/2.5/weather?q=Berlin&APPID=12345678901234567890123456789012",
    "WEATHER_TEST_DEBUG": false
}